.Logo {
    background-color: white;
    padding: 8px;
    height: 100%; /* set to 100 and control the hight in the component*/
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    height: 100%;

}