.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /* next to each other */
    flex-flow: column; /* untereinander */
    align-items: center;
    height: 100%;
}

/* for desktop */
@media (min-width: 500px ){
    .NavigationItems {
        flex-flow: row;
    }
}